body {
  font-family: "Open Sans", sans-serif;
}

.column {
  float: left;
  width: 45%;
  padding: 2px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding: 15px;
}

.container {
  margin: 10px;
}
